.button{
    border-radius: 10px; 
    background: #4d96fe;
    color: white;
    border: solid 4px rgb(63, 86, 255);
    width: var(--button-width);
    height: var(--button-width);
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 1.5rem;
    box-shadow: 0 calc(var(--button-width)/-5) rgb(63, 86, 255) inset;
    position: absolute;
}

.button.pressed{
    box-shadow: 0 0 rgb(63, 86, 255) inset;
    height: calc(var(--button-width) * 4/5);
    margin-top: calc(var(--button-width)/5);
}