@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@300;400;500;600;700;800&display=swap');

.button{
    --w: 1;
    --h: 1;
    --color: #006aff;
    --colorDarker: #3f56ff; 
    --colorLighter: #638dff;
    border-radius: calc(var(--button-width)/5); 
    background: var(--color);
    color: white;
    border: solid calc(var(--button-width)/15) var(--colorDarker);
    width: calc(calc(var(--button-width)*var(--w)) - 4px);
    margin-left: 2px;
    margin-right: 2px;
    height: calc(calc(calc(var(--button-width)*var(--h)) - calc(var(--button-width) * 1/5)) - 4px);
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Bungee', cursive;
    font-size: calc(var(--button-width)/2.5);
    box-shadow: 0 calc(var(--button-width)/5) var(--colorDarker),
    0 calc(var(--button-width)/7) var(--colorDarker),
    0 calc(var(--button-width)/10) var(--colorDarker);
    position: absolute;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    margin-top: calc(var(--button-width)/6);
}

.button.round{
    border-radius: calc(var(--button-width)/1.5);
}

.button.short{
    height: calc(calc(calc(var(--button-width)*var(--h)) - calc(var(--button-width) * 1/10)) - 8px);
    box-shadow: 0 calc(var(--button-width) * 1/10) var(--colorDarker);
    margin-top: 6px;
}

.button.pressed{
    box-shadow: 0 0 var(--colorDarker) inset;
    margin-top: calc(calc(var(--button-width)/5) + 2px);
}

button.pressed.short{
    margin-top: calc(calc(var(--button-width) * 1/10) + 6px);
}

.button.editing{
    width: calc(calc(var(--button-width)*var(--w)) - 4px);
    margin-left: 2px;
    height: calc(calc(var(--button-width)*var(--h)) - 4px);
    margin-top: 2px;
    box-shadow: none;
    border-radius: 8px;
    border: solid 4px #4d96fe;
    transition: transform 0.1s ease;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.selected{
    z-index: 100;
}

.button.singleSelected{
    z-index: 100;
}

.button.noTransition{
    transition: none !important;
}

.button.editing.react-draggable-dragging{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
    transition: transform 0s;
}

.button.editing.dragResizing{
    transition: transform 0s;
}

.button-text{
    line-height: calc(var(--button-width) * 0.6);
    text-align: center;
    margin-top: 0;
}

.button.editing>.button-text{
    display: none;
}

.arrow{
    transform: rotate(0deg); 
    display: inline-block;
}

.arrow.up{
    transform: rotate(0deg); 
}

.arrow.left{
    transform: rotate(-90deg); 
}

.arrow.right{
    transform: rotate(90deg); 
}

.arrow.down{
    transform: rotate(180deg); 
}

.button-bottom{
    width: calc(calc(var(--button-width)*var(--w)) - 4px);
    height: calc(calc(var(--button-width)*var(--h)) - 4px);
    position: absolute; 
    bottom: -4px; 
    background-color: var(--color);
    border-radius: 8px;
    display: none;
    font-size: 25px;
}

.button-bottom.editing{
    display: block;
    z-index: 0;
}

.button.draggable-dummy{
    z-index: 100;
}

.button.draggable-dummy.append-successful{
    transition: transform 0s;
}

.button-bottom.singleSelected{
    background: repeating-linear-gradient(
    -45deg,
    var(--colorDarker),
    var(--colorDarker) 10px,
    var(--colorLighter) 10px,
    var(--colorLighter) 20px
    );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
  border: solid 2px var(--colorDarker);
  /* outline: solid 2px #1956ff; */
  cursor: grab;
}

.button-bottom.singleSelected.top-left{
    cursor: nwse-resize;
}

.button-bottom.singleSelected.top-right{
    cursor: nesw-resize;
}

.button-bottom.singleSelected.bottom-left{
    cursor: nesw-resize;
}

.button-bottom.singleSelected.bottom-right{
    cursor: nwse-resize;
}

.delete{
    background-color: #ffffff;
    color: #646464;
    padding: 4px;
}

.moreOptions{
    background-color: #ffffff;
    color: #646464;
    padding: 4px;
}

.dragHandle{
    background-color: #ffffff;
    border: solid 2px #ffffff;
    color: #646464;
    border-radius: 100px;
    padding: 2px;
    /* position: absolute;
    left: 0;
    bottom: -15px; */
    margin-top: calc(calc(var(--button-width)*var(--h)) + 4px);
    cursor: grab;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 200;
}

.menu{
    font-size: 25px;
    background-color: #ffffff;
    border: solid 2px #ffffff;
    color: #646464;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: calc(calc(var(--button-width)*var(--h)));
    line-height: 0;
    padding: 2px;
    min-width: 60px;
    visibility: hidden;
    display: none;
    align-self: flex-end;
}

.editing>.menu{
    display: block;
}

.editing>.menu.singleSelected{
    visibility: visible;
}

.editing>.menu.singleSelected.dragResizing{
    visibility: hidden;
}

.react-draggable-dragging > .menu.singleSelected{
    visibility: hidden;
}

.react-draggable-dragging > .button-bottom{
    cursor: grabbing;
}

.react-draggable-dragging >* .dragHandle{
    visibility: hidden;
}

.react-draggable-dragging >* .dragHandle:active{
    visibility: visible;
    cursor: grabbing;
    background-color: var(--colorDarker);
    border: 2px solid var(--colorDarker);
    color: #ffffff;
}

.dragResizing > .dragHandle{
    visibility: hidden;
}

.resizeHandle{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    border: solid 2px var(--colorDarker);
    position: absolute;
    visibility: hidden;
    margin: -15px;
}

.resizeHandle:hover{
    width: 30px;
    height: 30px;
    margin: -20px;
}

.resizeHandle.big{
    width: 30px;
    height: 30px;
    margin: -20px;
}

.button.editing.singleSelected>.resizeHandle{
    visibility: visible;
}

.button.editing.react-draggable-dragging>.resizeHandle{
    visibility: hidden;
}

.resizeHandle.top-left{
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

.resizeHandle.top-right{
    top: 0;
    right: 0;
    cursor: nesw-resize;
}

.resizeHandle.bottom-left{
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}

.resizeHandle.bottom-right{
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}

.button.editing.singleSelected>.resizeHandle.hidden{
    visibility: hidden;
}

.button.joystick{
    border-radius: 50%;
    box-shadow: 0 0 var(--colorDarker) inset;
    height: calc(calc(var(--button-width)*var(--h)) - 4px);
    margin-top: 2px;
}

.button.joystick.pressed{
    margin-top: 2px;
}

.joystickKnob{
    position: absolute;
    width: calc(calc(var(--button-width)*var(--w))/2.5);
    max-width: calc(calc(var(--button-width)*var(--w)) - 8px);
    max-height: calc(calc(var(--button-width)*var(--h)) - 8px);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--colorDarker);
    outline: solid 1px var(--color); /* Use outline instead of border */
    pointer-events: none;
}

.joystickKnobTop{
    position: absolute;
    width: calc(calc(var(--button-width)*var(--w))/2.5);
    max-width: calc(calc(var(--button-width)*var(--w)) - 8px);
    max-height: calc(calc(var(--button-width)*var(--h)) - 8px);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color);
    border: solid calc(var(--button-width)/15) var(--colorDarker);
    pointer-events: none;
}

.button.joystick>.selectList{
    position: absolute;
    /* top: 50%; */
    top: 2px;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(calc(var(--button-width)*3)/4);
    margin-left: 0;
    margin-right: 0;
    border-radius: 10000px;
} 

.button.joystick>.button-bottom{
    border-radius: 50%;
}