.selectList{
    display: none;
    width: calc(calc(var(--button-width)*var(--w)) - 12px);
    height: calc(calc(var(--button-width)/2) - 0px);
    position: absolute; 
    top: 0px; 
    left: 0px; 
    border-radius: 8px; 
    background-color: var(--colorDarker); 
    border: none; 
    color: white; 
    text-align: center; 
    font-size: calc(var(--button-width)/4.5);
    font-family: 'Bungee', cursive;
    /* font-weight: bold; */
    box-sizing: border-box;
    border: solid 1px var(--color);
    z-index: 5;
  }

  .selectList:focus{
    outline: none;
  }
  
  .selectList.editing{
    display: block;
  }