.controller-container{
    position: relative;
    background-size: var(--button-width) var(--button-width);
    background-position: top -2.5px left -2.5px;
    background-image:
      linear-gradient(to right, #ffffff00 5px, transparent 5px),
      linear-gradient(to bottom, #ffffff00 5px, transparent 5px);
    touch-action: none;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
}

.controller-container.left{
    float: left;
    top: 40px;
}

.controller-container.right{
    float: right;
    top: 40px;
}

.controller-container.isSelectorDragging{
    cursor: crosshair;
}

.controller-container.top-left{
    cursor: nwse-resize !important;
}

.controller-container.top-right{
    cursor: nesw-resize !important;
}

.controller-container.bottom-left{
    cursor: nesw-resize !important;
}

.controller-container.bottom-right{
    cursor: nwse-resize !important;
}

.controller-container.editing{
    background-color: var(--controller-container-grid-background-color);
    background-size: var(--button-width) var(--button-width);
    background-image:
      linear-gradient(to right, var(--controller-container-grid-line-color) 5px, transparent 5px),
      linear-gradient(to bottom, var(--controller-container-grid-line-color) 5px, transparent 5px);
}

.controller-container.center{
    width: calc(var(--button-width)*6);
    height: calc(var(--button-width)*3);
}
.controller-container.left{
    width: calc(var(--button-width)*3);
    height: calc(var(--button-width)*6);
}
.controller-container.right{
    width: calc(var(--button-width)*3);
    height: calc(var(--button-width)*6);
}