:root{
    --button-width: 150px;
    --controller-container-grid-background-color: #184D33;
    --controller-container-grid-line-color: #00BF63;
    --controller-container-grid-background-color: #b8d9ff;
    --controller-container-grid-line-color: #ffffff;

    --screenWidth: 100vw;
    --screenHeight: 100vh;
    --centerContainerWidth: 100vw;
    --unitWidth: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: none;
    user-select: none;
}

*{
    box-sizing: border-box;
}

.App{
    width: var(--centerContainerWidth);
    height: var(--screenHeight);
}

.App.portrait{
    width: calc(var(--centerContainerWidth) + 12px);
    overflow: hidden;
}

.App.landscape{
    width: min(calc(var(--centerContainerWidth) + (6 * var(--unitWidth))), 100vw);
    overflow: visible;
}


.edit{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.noscroll{
    margin: 0; 
    touch-action: none;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}