.centerContainer{
    --screenWidth: 100vw;
    --screenHeight: 100vh;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: var(--centerContainerWidth);
    margin-left: auto;
    margin-right: auto;

    touch-action: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    --color: #006aff;
    --colorDarker: #3f56ff; 
    --colorLighter: #638dff;
}

.centerContainer.landscape{
    position: absolute;
    left: 0;
    right: 0;
}

.menuBar{
    flex: 1 0 100%;
    height: 40px;
    color: #696969;
}

.IconBtn{
    float: left;
    font-size: 30px;
    margin-top: 5px;
    margin-right: 5px;
}

.IconBtn.editing{
    background-color: var(--colorLighter);
    color: white;
    border-radius: 4px;
    padding: 2px;
}

.IconBtn.description{
    background-color: var(--colorLighter);
    color: white;
    border-radius: 4px;
    padding: 2px;
}

.IconBtn.selected{
    background: repeating-linear-gradient(
        -45deg,
        var(--colorDarker),
        var(--colorDarker) 5px,
        var(--colorLighter) 5px,
        var(--colorLighter) 10px
        );
      background-size: 200% 200%;
      animation: barberpole 5s linear infinite;
      border: solid 2px var(--colorDarker);
      padding: 0px;
}

.searchBarContainer{
    margin-top: 5px;
    margin-left: 105px;
    position: absolute;
    height: 30px;
    width: calc(var(--centerContainerWidth) - 210px);
    border-radius: 100px;
    color: #696969;
    background-color: var(--colorDarker);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.searchBar{
    border-radius: 100px;
    border: none;
    color: #ffffff;
    padding-left: 10px;
    background-color: var(--colorLighter);
    margin-top: 3px;
    height: 24px;
    font-size: 16px;
    width: calc(var(--centerContainerWidth) - 278px);
}

.searchBar::placeholder{
  color: #d3dfff
}

.searchButton{
    font-size: 24px;
    background-color: #ffffff00;
    border: none;
    color: #ffffff;
    padding: 0%;
    -ms-flex-align: end;
    margin-top: 3px;
}

.linkButton{
    padding: 0%;
    font-size: 24px;
    background-color: #ffffff00;
    border: none;
    color: #ffffff;
    margin-top: 3px;
    -ms-flex-align: start;
}

.IconBtn.right{
    float: right;
    margin-left: 5px;
    margin-right: 0px;
}

iframe {
    flex: 1 0 100%;
    height: calc(calc(var(--centerContainerWidth) * 0.75));
    border: none;
    border-radius: 8px;
    overflow: hidden;
  }

  .centerContentFrame{
    height: calc(calc(var(--centerContainerWidth) * 0.75));
    width: var(--centerContainerWidth);
    outline: 2px ;
    border-radius: 8px;
    position: absolute;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top: 40px;
    visibility: hidden;
    background-color: #ebf1fc;
    border: solid #dde9fd 2px;
    color: #2e2e2e;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 18px;
    white-space: pre-line;

    touch-action: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .centerContentFrame.editing{
    visibility: visible;
  }

  .centerContentFrame.description{
    visibility: visible;
  }

  .descriptionContainer{
    white-space: pre-line;
    padding: 8px;
    display: none;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }

  .descriptionContainer.selected{
    display: block;
  }

  .editorContainer{
    display: none;
  }

  .editorContainer.selected{
    display: block;
  }

  .iframeMask{
    width: var(--centerContainerWidth);
    height: calc(calc(var(--centerContainerWidth) * 0.75));
    border: none;
    border-radius: 8px;
    position: absolute;
    /* background-color: #e226ff98; */
    top: 40px;
    pointer-events: none;
  }

  .iframeMask.MouseAndKeyboard{
    pointer-events: all;
  }
