.button-upload{
    background-color: #ebf1fc;
    margin: 3px;
    border: none;
    border-radius: 100px;
    color: #3f56ff;
    font-size: 23px;
    padding-top: 1px;
    padding-left: 8px;
    padding-right: 8px;
}